In [194]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [195]:
df=pd.read_csv('C:\\Users\\user\\Desktop\\1) iris.csv')

In [196]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [197]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [198]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [200]:
from sklearn.preprocessing import LabelEncoder

new_col=df.select_dtypes(include=['object']).columns
le=LabelEncoder()
for col in new_col:
    le.fit(df[col])
    df[col]=le.transform(df[col])

In [201]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [202]:
df['species'].unique()

array([0, 1, 2])

In [203]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

In [204]:
X = df.drop(columns=['species'])
Y = df[['species']]

In [205]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [206]:
Y

     species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

In [207]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [208]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [209]:
results = {}
for k in range(1, 20):  # test k = 1 to 20
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, Y_train)
    y_pred = knn.predict(X_test)
    acc = accuracy_score(Y_test, y_pred)
    results[k] = acc
    print(f"k = {k}, Accuracy = {acc:.2f}")

k = 1, Accuracy = 1.00
k = 2, Accuracy = 1.00
k = 3, Accuracy = 1.00
k = 4, Accuracy = 1.00
k = 5, Accuracy = 1.00
k = 6, Accuracy = 1.00
k = 7, Accuracy = 1.00
k = 8, Accuracy = 1.00
k = 9, Accuracy = 1.00
k = 10, Accuracy = 1.00
k = 11, Accuracy = 1.00
k = 12, Accuracy = 1.00
k = 13, Accuracy = 1.00
k = 14, Accuracy = 1.00
k = 15, Accuracy = 1.00
k = 16, Accuracy = 1.00
k = 17, Accuracy = 1.00
k = 18, Accuracy = 1.00
k = 19, Accuracy = 1.00

In [210]:
best_k = max(results, key=results.get)
print(f"\nBest k = {best_k} with Accuracy = {results[best_k]:.2f}")

Best k = 1 with Accuracy = 1.00

In [211]:
import pickle
with open("knn_model.pkl", "wb") as file:
    pickle.dump(model, file)

NameError: name 'model' is not defined